<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyHBO - Gestión de Base de Datos</title>
</head>
<body>

<header>
    <h1>MyHBO - Sistema de Gestión de Películas</h1>
    <nav>
        <ul>
            <li><a href="/home">Inicio</a></li>
            <li><a href="/crud">Crud</a></li>
            <li><a href="/moviehome">Peliculas</a></li>
        </ul>
    </nav>
</header>
<main>
    <h2>Bienvenido a la Gestión de Base de Datos de MyHBO</h2>
    <p>Utiliza el menú de navegación para gestionar las diferentes entidades relacionadas con las películas.</p>

    <footer>
        <p>&copy; 2026 MyHBO - Proyecto de Servidor</p>
    </footer>
</main>

</body>
</html>